h1 {
    font-size: 95px;
    color: red;
    text-align: center;
    padding: 10px; 
    margin: 10px;
}

#banner {
    width: 100%;
}

.author-tag {
    font-size: .8em;
}

#post_title {
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
    width: 28.3%
}

#post_content {
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
    width: 28.3%
}

#post_media {
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
    width: 28.3%
}

.posts {
    background-color: rgb(185, 181, 181);
    opacity: 10%;
    border: solid;
    border-color: black;
    border-radius: 20px;
    padding: 20px; 
    margin: 15px;
    width: 95%;
    
}

#userForm {
    background-color: rgb(185, 181, 181);
    opacity: 10%;
    border: solid;
    border-color: black;
    border-radius: 20px;
    padding: 5px; 
    width: 32%;
}

#post_form {
    background-color: rgb(185, 181, 181);
    opacity: 10%;
    border: solid;
    border-color: black;
    border-radius: 20px;
    padding: 5px; 
    /* margin: 10px; */
    width: 97.7%;
}

#fans_btn {
    float: right;
    margin: 6.45em 11.3em 0 0;
    width: 250px;
    height: 50px;
    border: 3px solid black;
    padding: 10px;
    font-size: 18px;
    font-co
}

#userName {
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px; 
    margin: 8px;
    width: 68%
}

.btn-danger {
    border-radius: 10px;
    padding: 5px; 
    margin: 10px;
}

#create_user_text {
    border-radius: 10px;
    padding: 5px; 
    margin: 10px;
}

#create_post_text {
    border-radius: 10px;
    padding: 5px; 
    margin: 10px;
}

.btn-primary {
    border-radius: 10px;
    padding: 5px; 
    margin: 10px;
}

#userSubmit {
    /* border: solid; */
    /* border-color: black; */
    border-radius: 10px;
    padding: 5px; 
    margin: 10px;
}

#post_submit_button {
    border-radius: 10px;
    padding: 5px; 
    margin: 10px;
}

.forms {
    margin: 0 10em 0 10em;
    padding: 1em; 
}
#post-list {
    margin: 0 10em 0 10em;
    padding: 0;
    list-style-type: none;
}

body {
    background: url(https://wallpapercave.com/wp/wp1889539.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: visible;
}